html,
body {
  /* height: 100vh; */
  /* width: 100vw; */
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
  border: none;
}
